body {
    background: white url("images/background.gif") no-repeat;
}

a {
    color: black;
}

fieldset {
  width: auto;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
}

legend {
  font-size: 30px;
  text-align: center;
}

table {
  background-color: white;
}

table td{
  font-size: 20px;

}

#again {
  font-size: 15px;
}
